user/build/
user/node_modules/
user/.env
images/
doctor/build/
doctor/node_modules/
doctor/.env

rider/build/
rider/node_modules/
rider/.env


pharmacy/build/
pharmacy/node_modules/
pharmacy/.env


backend/build/
backend/node_modules/
backend/.env
.env